.size-12 {
  font-size: 12px;
}
.size-14 {
  font-size: 12px;
}
.size-16 {
  font-size: 12px;
}
.size-18 {
  font-size: 12px;
}
.size-21 {
  font-size: 12px;
}
.size-24 {
  font-size: 12px;
}
.size-36 {
  font-size: 12px;
}
.size-48 {
  font-size: 12px;
}
.size-60 {
  font-size: 12px;
}
.size-72 {
  font-size: 12px;
}